            body{background-color:mediumspringgreen}
            nav.list{background-color:white}
            p{background-color:navy;
            color:white;
            padding:1.5em;
            }
            ls{background-color:green;
            }
