            body{background-color:mediumspringgreen}
            nav ul.list{background-color:white;}
            p{background-color:aquamarine;
            color:darkgreen;
            padding:1.5em;
            }
            ul{background-color:skyblue;}
            ol{background-color:teal;}
            section.list{background-color:aqua;}