body.home {
    background-image: url(images/Leyndell.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    background-position: center;
}
div.nameheader {
    align-items: center;
    text-align: center;
}
div.flexhome {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-image: url(images/Sword.jpg);
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    color: white;
    font-size: 2em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    line-height: 250px;
    text-decoration: none;
}
section.flexgallery {
    display: flex;
}
.Navbar {
    display: flex;
    background-color: #002762;
    height: 10vh;
    width:100%;
    text-align: center;
    line-height: 10vh;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:calc(2vh + 2vw);
}
.Navlink {
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    text-shadow: 3px 3px 0 #000;
    margin-left:calc(3vh + 3vw);
    margin-right:calc(3vh + 3vw);
}
.Whitebar{
    background-color:white;
    width:100%;
    height:7vh;
    z-index:-1;
}
.Header {
    width:15vw;
    height:10vh;
    background-color:#a5a5a5;
    text-align:center;
    line-height:10vh;
}
.Headertext{
    color:white;
    text-shadow:2px 2px 0 #000;
}
.Titletext {
    color:white;
    padding:1.5em;
    text-shadow:2px 2px 0 #000;
}
div.lidarscan {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: black;
}
section.flexgallery {
    align-items: center;
    justify-content: space-evenly;
}
img#deardata {
    width: 500px
}
img#thumbsup {
    width: 500px
}
.Figcapgallery {
    color: white;
}
section.Resumeholder{
    background-color:white;
}
section.WCE{
    background-color:white;
}
div.projectlink{
    background-color:#002762;
    text-align:center;
}
.txtlink{
    font-size:4em;
    text-decoration:none;
    color:white;
    text-shadow:3px 3px 0 #000;
}
div.txtaabstract{
    background-color:white;
    font-size:1.5em;
}
section.txtadisplay{
display:flex;
justify-content:center;
}
img.txtphoto{
height:90vh;
}
figcaption.txtafigcaption{
    color:white;
    font-size:1.5em;
    text-shadow:2px 2px 0 #000;
    text-align:center;
}
div.txtabody{
    background-color:white;
    max-width:60vw;
    text-align:center;
    margin:auto;
    font-size:1.5em;
}
section.gameabstract{
    background-color:white;
    font-size:1.5em;
}
div.gamedisplay{
    display:flex;
    justify-content:center;
}
img.gamephoto{
height:50vh;
}
figcaption.gamecaption{
    color:white;
    font-size:1.5em;
    text-shadow:2px 2px 0 #000;
}
section.gametext{
    background-color:white;
    font-size:1.5em;
}